In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
import mlxtend

In [2]:
dataset=pd.read_csv("C:\\Users\ishuk\\Desktop\\sem 6\\lab\\ml_lab_sem_6\\9\\retail_dataset.csv")

In [3]:
dataset

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

In [4]:
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
dataset.isnull()

         0      1      2      3      4      5      6
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False   True   True
3    False  False  False  False  False   True   True
4    False  False  False   True   True   True   True
..     ...    ...    ...    ...    ...    ...    ...
310  False  False  False   True   True   True   True
311  False  False  False   True   True   True   True
312  False  False  False  False  False  False  False
313  False  False   True   True   True   True   True
314  False  False  False  False  False   True   True

[315 rows x 7 columns]

In [6]:
dataset.isnull().sum()

0      0
1     30
2     70
3    128
4    182
5    244
6    274
dtype: int64

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       315 non-null    object
 1   1       285 non-null    object
 2   2       245 non-null    object
 3   3       187 non-null    object
 4   4       133 non-null    object
 5   5       71 non-null     object
 6   6       41 non-null     object
dtypes: object(7)
memory usage: 17.4+ KB

In [8]:
dataset.shape

(315, 7)

In [9]:
#Print Total number of Rows & columns in dataset
print("Total rows",dataset.shape[1])
print("Total cols",dataset.shape[0])

Total rows 7
Total cols 315

In [10]:
print(dataset['0'])

0       Bread
1       Bread
2      Cheese
3      Cheese
4        Meat
        ...
310     Bread
311      Meat
312     Bread
313      Meat
314      Eggs
Name: 0, Length: 315, dtype: object

In [11]:
items = (dataset['0'].unique())
print(items)
le=print(len(items))

['Bread' 'Cheese' 'Meat' 'Eggs' 'Wine' 'Bagel' 'Pencil' 'Diaper' 'Milk']
9

In [12]:
dataset['0'].unique()

array(['Bread', 'Cheese', 'Meat', 'Eggs', 'Wine', 'Bagel', 'Pencil',
       'Diaper', 'Milk'], dtype=object)

In [13]:
#Create list 
transactions = []
for i in range(0, dataset.shape[0]):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 7)])

In [14]:
transactions

[['Bread', 'Wine', 'Eggs', 'Meat', 'Cheese', 'Pencil', 'Diaper'],
 ['Bread', 'Cheese', 'Meat', 'Diaper', 'Wine', 'Milk', 'Pencil'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Meat', 'Pencil', 'Wine', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Bread', 'Wine', 'Pencil', 'Milk', 'Diaper', 'Bagel'],
 ['Wine', 'Pencil', 'Eggs', 'Cheese', 'nan', 'nan', 'nan'],
 ['Bagel', 'Bread', 'Milk', 'Pencil', 'Diaper', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Cheese', 'Milk', 'Wine', 'Eggs', 'nan'],
 ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'],
 ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Meat', 'nan', 'nan'],
 ['Bagel', 'Cheese', 'Milk', 'Meat', 'nan', 'nan', 'nan'],
 ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Diaper', 'Bagel', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Cheese', 'Meat', 'Bread', 'Diaper', 'Eggs', 'nan'],
 ['Meat', 'Pencil', 'Cheese', 'Bread', 'nan', 'nan', 'nan'],
 ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'],
 ['Eggs', 'Bagel', 'Cheese', 'Meat', 'Diaper', 'nan', 'nan'],
 ['Diaper', 'Wine', 'Eggs', 'Pencil', 'Meat', 'nan', 'nan'],
 ['Diaper', 'Meat', 'Milk', 'Bread', 'Bagel', 'Cheese', 'nan'],
 ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'],
 ['Bread', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Bread', 'Eggs', 'Cheese', 'Milk', 'Diaper', 'nan'],
 ['Diaper', 'Meat', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Bagel', 'Bread', 'Diaper', 'Wine', 'nan', 'nan'],
 ['Cheese', 'Milk', 'Bread', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Bread', 'Wine', 'Meat', 'Bagel', 'nan', 'nan'],
 ['Bread', 'Cheese', 'Milk', 'Wine', 'Diaper', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'],
 ['Bagel', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Wine', 'Meat', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Eggs', 'Wine', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Wine', 'Milk', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Bread', 'Bagel', 'Diaper', 'Milk', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Diaper', 'Meat', 'Wine', 'Bread', 'nan', 'nan'],
 ['Wine', 'Milk', 'Diaper', 'Pencil', 'Cheese', 'Eggs', 'nan'],
 ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'],
 ['Diaper', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'],
 ['Milk', 'Pencil', 'Cheese', 'Bagel', 'nan', 'nan', 'nan'],
 ['Meat', 'Cheese', 'Diaper', 'Wine', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Meat', 'Pencil', 'Milk', 'Wine', 'Diaper', 'nan'],
 ['Pencil', 'Cheese', 'Diaper', 'Wine', 'Eggs', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Milk', 'Pencil', 'Cheese', 'Eggs', 'nan'],
 ['Pencil', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Bread', 'Cheese', 'Bagel', 'Meat', 'Pencil', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'Diaper', 'nan', 'nan', 'nan'],
 ['Eggs', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Milk', 'Diaper', 'Eggs', 'nan', 'nan', 'nan'],
 ['Pencil', 'Milk', 'Meat', 'Cheese', 'nan', 'nan', 'nan'],
 ['Bagel', 'Bread', 'Diaper', 'Cheese', 'Meat', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Milk', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Diaper', 'Wine', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Bagel', 'Pencil', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Eggs', 'Bagel', 'Cheese', 'Wine', 'nan', 'nan'],
 ['Bread', 'Cheese', 'Wine', 'Bagel', 'Milk', 'Meat', 'nan'],
 ['Meat', 'Cheese', 'Pencil', 'Wine', 'Bread', 'nan', 'nan'],
 ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'],
 ['Pencil', 'Cheese', 'Wine', 'Milk', 'Diaper', 'Bagel', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'],
 ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'],
 ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Diaper', 'Bread', 'Cheese', 'nan', 'nan', 'nan'],
 ['Bagel', 'Pencil', 'Wine', 'Meat', 'nan', 'nan', 'nan'],
 ['Wine', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Milk', 'Eggs', 'Cheese', 'Wine', 'Pencil', 'nan'],
 ['Cheese', 'Milk', 'Meat', 'Eggs', 'Bagel', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Diaper', 'Wine', 'Meat', 'Eggs', 'nan', 'nan', 'nan'],
 ['Meat', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Wine', 'Bread', 'Milk', 'nan', 'nan', 'nan'],
 ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'],
 ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'],
 ['Bagel', 'Diaper', 'Milk', 'Cheese', 'Wine', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Pencil', 'Bread', 'Cheese', 'Eggs', 'nan', 'nan'],
 ['Bread', 'Eggs', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Milk', 'Pencil', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine'],
 ['Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Wine', 'Bagel', 'Bread', 'Meat', 'nan', 'nan'],
 ['Bagel', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Pencil', 'Diaper', 'Wine', 'Meat', 'nan', 'nan'],
 ['Milk', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Wine', 'Bagel', 'Eggs', 'Diaper', 'nan', 'nan'],
 ['Bread', 'Meat', 'Milk', 'Cheese', 'Wine', 'Eggs', 'Pencil'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Milk', 'Bagel', 'Wine', 'nan', 'nan', 'nan'],
 ['Cheese', 'Pencil', 'Meat', 'Eggs', 'Milk', 'Bagel', 'Wine'],
 ['Cheese', 'Milk', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Pencil', 'Milk', 'Bread', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Bread', 'Wine', 'Diaper', 'Bagel', 'nan', 'nan'],
 ['Bagel', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Diaper', 'Eggs', 'Cheese', 'Bagel', 'nan', 'nan'],
 ['Bread', 'Pencil', 'Bagel', 'Eggs', 'nan', 'nan', 'nan'],
 ['Milk', 'Eggs', 'Meat', 'Cheese', 'Bread', 'Wine', 'Pencil'],
 ['Pencil', 'Eggs', 'Meat', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Meat', 'Cheese', 'Eggs', 'Pencil', 'nan'],
 ['Milk', 'Eggs', 'Bread', 'Cheese', 'nan', 'nan', 'nan'],
 ['Milk', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Meat', 'Bread', 'Bagel', 'Cheese', 'nan', 'nan'],
 ['Wine', 'Eggs', 'Bread', 'Diaper', 'nan', 'nan', 'nan'],
 ['Meat', 'Cheese', 'Eggs', 'Bagel', 'Wine', 'Bread', 'nan'],
 ['Meat', 'Cheese', 'Bread', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Milk', 'Pencil', 'Eggs', 'Bread', 'Meat', 'nan'],
 ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Eggs', 'Bagel', 'Diaper', 'Milk', 'Meat', 'Pencil'],
 ['Milk', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Eggs', 'Meat', 'Wine', 'Bagel', 'Diaper', 'Bread'],
 ['Diaper', 'Bagel', 'Bread', 'Pencil', 'Cheese', 'Milk', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Wine', 'Meat', 'Bagel', 'nan', 'nan', 'nan'],
 ['Cheese', 'Diaper', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Wine', 'Cheese', 'Meat', 'Pencil', 'Eggs', 'nan', 'nan'],
 ['Eggs', 'Bagel', 'Pencil', 'Wine', 'Cheese', 'nan', 'nan'],
 ['Bagel', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Eggs', 'Wine', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Milk', 'Pencil', 'Wine', 'Eggs', 'Bagel', 'nan'],
 ['Milk', 'Bread', 'Bagel', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Cheese', 'Milk', 'Meat', 'Bread', 'Eggs', 'nan'],
 ['Meat', 'Wine', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Milk', 'Wine', 'Pencil', 'Cheese', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Cheese', 'nan', 'nan'],
 ['Bread', 'Pencil', 'Diaper', 'Cheese', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Eggs', 'Bagel', 'Meat', 'Diaper', 'Pencil', 'Milk', 'Bread'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Meat', 'Wine', 'Pencil', 'Bread', 'nan', 'nan'],
 ['Eggs', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Pencil', 'Wine', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Milk', 'Eggs', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Cheese', 'Eggs', 'Milk', 'Meat', 'Pencil', 'Bread'],
 ['Bagel', 'Diaper', 'Pencil', 'Milk', 'Meat', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Bread', 'Wine', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Cheese', 'Milk', 'Diaper', 'Pencil', 'nan', 'nan'],
 ['Milk', 'Pencil', 'Bagel', 'Wine', 'Eggs', 'Meat', 'nan'],
 ['Wine', 'Milk', 'Eggs', 'Bread', 'Meat', 'nan', 'nan'],
 ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Pencil', 'Meat', 'Wine', 'nan', 'nan'],
 ['Cheese', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Diaper', 'Wine', 'Bread', 'nan', 'nan', 'nan'],
 ['Wine', 'Bread', 'Diaper', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Meat', 'Pencil', 'Eggs', 'Cheese', 'Milk', 'Wine'],
 ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil', 'nan', 'nan'],
 ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil', 'nan', 'nan'],
 ['Bread', 'Wine', 'Diaper', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Wine', 'Diaper', 'Eggs', 'nan', 'nan', 'nan'],
 ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil', 'Milk', 'nan'],
 ['Wine', 'Pencil', 'Eggs', 'Cheese', 'nan', 'nan', 'nan'],
 ['Bagel', 'Bread', 'Milk', 'Pencil', 'Diaper', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Cheese', 'Milk', 'Wine', 'Eggs', 'nan'],
 ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'],
 ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Meat', 'nan', 'nan'],
 ['Bagel', 'Cheese', 'Milk', 'Meat', 'nan', 'nan', 'nan'],
 ['Bread', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Diaper', 'Bagel', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Cheese', 'Meat', 'Bread', 'Diaper', 'Eggs', 'nan'],
 ['Meat', 'Pencil', 'Cheese', 'Bread', 'nan', 'nan', 'nan'],
 ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'],
 ['Eggs', 'Bagel', 'Cheese', 'Meat', 'Diaper', 'nan', 'nan'],
 ['Diaper', 'Wine', 'Eggs', 'Pencil', 'Meat', 'nan', 'nan'],
 ['Diaper', 'Meat', 'Milk', 'Bread', 'Bagel', 'Cheese', 'nan'],
 ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'],
 ['Bread', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Bread', 'Eggs', 'Cheese', 'Milk', 'Diaper', 'nan'],
 ['Diaper', 'Meat', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Bagel', 'Bread', 'Diaper', 'Wine', 'nan', 'nan'],
 ['Cheese', 'Milk', 'Bread', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Bread', 'Wine', 'Meat', 'Bagel', 'nan', 'nan'],
 ['Bread', 'Cheese', 'Milk', 'Wine', 'Diaper', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'],
 ['Bagel', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Wine', 'Meat', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Eggs', 'Wine', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Wine', 'Milk', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Bread', 'Bagel', 'Diaper', 'Milk', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Diaper', 'Meat', 'Wine', 'Bread', 'nan', 'nan'],
 ['Wine', 'Milk', 'Diaper', 'Pencil', 'Cheese', 'Eggs', 'nan'],
 ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'],
 ['Diaper', 'Eggs', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine', 'nan', 'nan'],
 ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'],
 ['Milk', 'Pencil', 'Cheese', 'Bagel', 'nan', 'nan', 'nan'],
 ['Meat', 'Cheese', 'Diaper', 'Wine', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Meat', 'Pencil', 'Milk', 'Wine', 'Diaper', 'nan'],
 ['Pencil', 'Cheese', 'Diaper', 'Wine', 'Eggs', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Milk', 'Pencil', 'Cheese', 'Eggs', 'nan'],
 ['Pencil', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Bagel', 'Bread', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'Bread', 'Cheese', 'Bagel', 'Meat', 'Pencil', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'Diaper', 'nan', 'nan', 'nan'],
 ['Eggs', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Milk', 'Diaper', 'Eggs', 'nan', 'nan', 'nan'],
 ['Pencil', 'Milk', 'Meat', 'Cheese', 'nan', 'nan', 'nan'],
 ['Bagel', 'Bread', 'Diaper', 'Cheese', 'Meat', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Milk', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Pencil', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Milk', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Bagel', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Diaper', 'Wine', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Bagel', 'Pencil', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Eggs', 'Bagel', 'Cheese', 'Wine', 'nan', 'nan'],
 ['Bread', 'Cheese', 'Wine', 'Bagel', 'Milk', 'Meat', 'nan'],
 ['Meat', 'Cheese', 'Pencil', 'Wine', 'Bread', 'nan', 'nan'],
 ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'],
 ['Pencil', 'Cheese', 'Wine', 'Milk', 'Diaper', 'Bagel', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'],
 ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'],
 ['Meat', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Wine', 'Diaper', 'Bread', 'Cheese', 'nan', 'nan', 'nan'],
 ['Bagel', 'Pencil', 'Wine', 'Meat', 'nan', 'nan', 'nan'],
 ['Wine', 'Bread', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Milk', 'Eggs', 'Cheese', 'Wine', 'Pencil', 'nan'],
 ['Cheese', 'Milk', 'Meat', 'Eggs', 'Bagel', 'nan', 'nan'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'nan', 'nan', 'nan'],
 ['Diaper', 'Wine', 'Meat', 'Eggs', 'nan', 'nan', 'nan'],
 ['Meat', 'Diaper', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Pencil', 'Wine', 'Bread', 'Milk', 'nan', 'nan', 'nan'],
 ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'],
 ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'],
 ['Bagel', 'Diaper', 'Milk', 'Cheese', 'Wine', 'nan', 'nan'],
 ['Bread', 'Bagel', 'Milk', 'nan', 'nan', 'nan', 'nan'],
 ['Diaper', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Bagel', 'Pencil', 'Bread', 'Cheese', 'Eggs', 'nan', 'nan'],
 ['Bread', 'Eggs', 'Cheese', 'nan', 'nan', 'nan', 'nan'],
 ['Meat', 'Milk', 'Pencil', 'nan', 'nan', 'nan', 'nan'],
 ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine'],
 ['Meat', 'Cheese', 'nan', 'nan', 'nan', 'nan', 'nan'],
 ['Eggs', 'Wine', 'Bagel', 'Bread', 'Meat', 'nan', 'nan']]

In [15]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

In [16]:
te_ary

array([[False,  True,  True, ...,  True,  True, False],
       [False,  True,  True, ...,  True,  True, False],
       [False, False,  True, ..., False,  True,  True],
       ...,
       [False,  True,  True, ...,  True,  True, False],
       [False, False,  True, ..., False, False,  True],
       [ True,  True, False, ..., False,  True,  True]])

In [17]:
df = pd.DataFrame(te_ary, columns=te.columns_)
print(df)

     Bagel  Bread  Cheese  Diaper   Eggs   Meat   Milk  Pencil   Wine    nan
0    False   True    True    True   True   True  False    True   True  False
1    False   True    True    True  False   True   True    True   True  False
2    False  False    True   False   True   True   True   False   True   True
3    False  False    True   False   True   True   True   False   True   True
4    False  False   False   False  False   True  False    True   True   True
..     ...    ...     ...     ...    ...    ...    ...     ...    ...    ...
310  False   True    True   False   True  False  False   False  False   True
311  False  False   False   False  False   True   True    True  False   True
312  False   True    True    True   True   True  False    True   True  False
313  False  False    True   False  False   True  False   False  False   True
314   True   True   False   False   True   True  False   False   True   True

[315 rows x 10 columns]

In [18]:
df=df[['Bagel','Bread','Cheese','Diaper','Eggs','Meat','Milk','Pencil','Wine']]
df

     Bagel  Bread  Cheese  Diaper   Eggs   Meat   Milk  Pencil   Wine
0    False   True    True    True   True   True  False    True   True
1    False   True    True    True  False   True   True    True   True
2    False  False    True   False   True   True   True   False   True
3    False  False    True   False   True   True   True   False   True
4    False  False   False   False  False   True  False    True   True
..     ...    ...     ...     ...    ...    ...    ...     ...    ...
310  False   True    True   False   True  False  False   False  False
311  False  False   False   False  False   True   True    True  False
312  False   True    True    True   True   True  False    True   True
313  False  False    True   False  False   True  False   False  False
314   True   True   False   False   True   True  False   False   True

[315 rows x 9 columns]

In [19]:
freq_items = apriori(df, min_support=0.2, use_colnames=True)
freq_items

     support              itemsets
0   0.425397               (Bagel)
1   0.504762               (Bread)
2   0.501587              (Cheese)
3   0.406349              (Diaper)
4   0.438095                (Eggs)
5   0.476190                (Meat)
6   0.501587                (Milk)
7   0.361905              (Pencil)
8   0.438095                (Wine)
9   0.279365        (Bagel, Bread)
10  0.225397         (Bagel, Milk)
11  0.238095       (Cheese, Bread)
12  0.231746       (Diaper, Bread)
13  0.206349         (Meat, Bread)
14  0.279365         (Milk, Bread)
15  0.200000       (Pencil, Bread)
16  0.244444         (Wine, Bread)
17  0.200000      (Cheese, Diaper)
18  0.298413        (Cheese, Eggs)
19  0.323810        (Cheese, Meat)
20  0.304762        (Cheese, Milk)
21  0.200000      (Cheese, Pencil)
22  0.269841        (Wine, Cheese)
23  0.234921        (Wine, Diaper)
24  0.266667          (Meat, Eggs)
25  0.244444          (Eggs, Milk)
26  0.241270          (Wine, Eggs)
27  0.244444          (Meat, Milk)
28  0.250794          (Wine, Meat)
29  0.219048          (Wine, Milk)
30  0.200000        (Wine, Pencil)
31  0.215873  (Cheese, Meat, Eggs)
32  0.203175  (Cheese, Meat, Milk)

In [20]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650,0.402687
1,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203,0.469167
2,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891,0.526414
3,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540,0.500891
4,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148,0.350053
5,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148,0.350053
6,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754,0.330409
7,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624,0.387409
8,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714,0.507042
9,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773,0.487091
10,"(Meat, Eggs)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667,0.518717
11,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845,0.296655
12,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429,0.410959
13,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137,0.524816

In [21]:
list(rules)

['antecedents',
 'consequents',
 'antecedent support',
 'consequent support',
 'support',
 'confidence',
 'lift',
 'leverage',
 'conviction',
 'zhangs_metric']

In [22]:
import pickle 
print("[INFO] Saving model...")
# Save the trained model as a pickle string. 
saved_model=pickle.dump(freq_items,open('aprioriexample.pkl', 'wb')) 
# Saving model to disk

[INFO] Saving model...

In [23]:
# Load the pickled model 
model = pickle.load(open('aprioriexample.pkl','rb'))  
# Use the loaded pickled model to make predictions

In [24]:
model

     support              itemsets
0   0.425397               (Bagel)
1   0.504762               (Bread)
2   0.501587              (Cheese)
3   0.406349              (Diaper)
4   0.438095                (Eggs)
5   0.476190                (Meat)
6   0.501587                (Milk)
7   0.361905              (Pencil)
8   0.438095                (Wine)
9   0.279365        (Bagel, Bread)
10  0.225397         (Bagel, Milk)
11  0.238095       (Cheese, Bread)
12  0.231746       (Bread, Diaper)
13  0.206349         (Meat, Bread)
14  0.279365         (Bread, Milk)
15  0.200000       (Pencil, Bread)
16  0.244444         (Wine, Bread)
17  0.200000      (Cheese, Diaper)
18  0.298413        (Cheese, Eggs)
19  0.323810        (Cheese, Meat)
20  0.304762        (Cheese, Milk)
21  0.200000      (Cheese, Pencil)
22  0.269841        (Wine, Cheese)
23  0.234921        (Wine, Diaper)
24  0.266667          (Meat, Eggs)
25  0.244444          (Eggs, Milk)
26  0.241270          (Wine, Eggs)
27  0.244444          (Meat, Milk)
28  0.250794          (Wine, Meat)
29  0.219048          (Wine, Milk)
30  0.200000        (Wine, Pencil)
31  0.215873  (Cheese, Meat, Eggs)
32  0.203175  (Cheese, Meat, Milk)

In [34]:
import streamlit as st
from PIL import Image
import mlxtend
import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
#st.set_option('deprecation.showfileUploaderEncoding',False)
def find_associatio_rule(support):
  # Load the pickled model
  model = pickle.load(open('aprioriexample.pkl','rb'))
  dataset= pd.read_csv('retail_dataset.csv')    
  #Create list
  transactions = []
  for i in range(0, 315):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 7)])

  from mlxtend.preprocessing import TransactionEncoder
  te = TransactionEncoder()
  te_ary = te.fit(transactions).transform(transactions)
  df = pd.DataFrame(te_ary, columns=te.columns_)
  df=df[['Bagel','Bread','Cheese','Diaper','Eggs','Meat','Milk','Pencil','Wine']]
  freq_items = apriori(df, min_support=support, use_colnames=True)
  rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
  return rules

def find_frequent_items(support):
  # Load the pickled model
  model = pickle.load(open('aprioriexample.pkl','rb'))    
  dataset= pd.read_csv('retail_dataset.csv')
  #Create list
  transactions = []
  for i in range(0, 315):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 7)])

  from mlxtend.preprocessing import TransactionEncoder
  te = TransactionEncoder()
  te_ary = te.fit(transactions).transform(transactions)
  df = pd.DataFrame(te_ary, columns=te.columns_)
  df=df[['Bagel','Bread','Cheese','Diaper','Eggs','Meat','Milk','Pencil','Wine']]
  freq_items = apriori(df, min_support=support, use_colnames=True)
  rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
 
  return freq_items
html_temp = """
   <div class="" style="background-color:blue;" >
   <div class="clearfix">          
   <div class="col-md-12">
   <center><p style="font-size:40px;color:white;margin-top:10px;">Poornima Institute of Engineering & Technology</p></center>
   <center><p style="font-size:30px;color:white;margin-top:10px;">Department of Computer Engineering</p></center>
   <center><p style="font-size:25px;color:white;margin-top:10px;"Machine Learning Lab Experiment</p></center>
   </div>
   </div>
   </div>
   """
st.markdown(html_temp,unsafe_allow_html=True)
st.header("Identification of items Purchased together ")
 
#uploaded_file = st.file_uploader("Upload dataset", help='Please upload retail_dataset.csv otherwise leave  blank')
support = st.number_input('Insert a minimum suppport to find association rule ',0.1,1.1)

 
if st.button("Association Rule"):
  rules=find_associatio_rule(support)
  st.success('Apriori has found Following rules {}'.format(rules))
if st.button("Frequent Items"):
  frequent_items=find_frequent_items(support)
  st.success('Apriori has found Frequent itemsets {}'.format(frequent_items))      
if st.button("About"):
  st.subheader("Developed by Deepak Moud")
  st.subheader("Head , Department of Computer Engineering")
html_temp = """
   <div class="" style="background-color:orange;" >
   <div class="clearfix">          
   <div class="col-md-12">
   <center><p style="font-size:20px;color:white;margin-top:10px;">Machine learning Experiment No. 9</p></center>
   </div>
   </div>
   </div>
   """
st.markdown(html_temp,unsafe_allow_html=True)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [27]:
import streamlit as st